.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}
/* animation for progressing */
@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
}

/* to remove checkbox when its not done */
.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.right {
  flex: 1;
}
